* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    
}

.container {
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 20px;
}

.img-container {
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-container {
   flex: 2;
   padding-left: 20px;
   display: block;
   /*flex-direction: column;*/
   height: auto;

}

.text-content {
    flex: 1;
    margin: 0 0 0 50px;
}

.heading {
    text-align: center;
    padding: 20px;
}


.heading>h1 {
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.heading>h3 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 5px;
}

.details-sub {
    margin: 20px 0 20px 0;
    padding: 50px;
    font-size: 22px;
}

.nav2 {
    grid-column: 1/-1;
    text-align: center;
    margin: 40px 50px 40px 50px;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
   /* background-color: #333333;*/
}

li {
    float: left;
    display: inline;
    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

p {
    font-size: 22px;
    font-weight: 200;
}

@media screen and (max-width: 360px) {
    img {
        width: 360px;
        height: 300px;
    }

    .text-container {
        height: 360px;
    }
}