nav {
    width: 100%;
}

.nav2 {
    grid-column: 1/-1;
    text-align: center;
    margin: 40px 50px 40px 50px;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
   /* background-color: #333333;*/

}

li {
    float: left;
    display: inline;
    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}